.footer {
  background-color: black;
  overflow-x: hidden;
<<<<<<< HEAD:src/style/footer.scss
}
.footer-div {
=======
  width: 100vw;
>>>>>>> ed45aa54f22fb44fb8e34193996e02d40b59023c:style/footer.scss
  display: flex;
  justify-content: center;
}

.footer-div {
  margin: 5% 0;
  display: flex;
  height: 18vh;
  align-items: flex-start;
  background-color: black;

  .left-footer {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    .icons {
      flex-grow: 3;
      display: flex;
      width: 30vw;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-color: black;
      padding-top: 3%;

      .contact-logo {
        display: flex;
<<<<<<< HEAD:src/style/footer.scss
        margin: 0.3em 0 0.3em 0;
        align-items: center;
=======
        flex-wrap: nowrap;
        flex-grow: 1;
        margin: 0 0.5rem;
        justify-content: center;
>>>>>>> ed45aa54f22fb44fb8e34193996e02d40b59023c:style/footer.scss
        background-color: black;
        img {
          width: 50px;
          height: 50px;
          background-color: black;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .contact-me {
      margin-top: 5vh;
      background-color: black;

      h3 {
        background-color: black;
        color: white;
      }
    }
  }

  .right-footer {
    flex-grow: 4;
    margin: 0.5rem 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
    .basic-info {
      flex-grow: 1;
      display: flex;
      flex-wrap: nowrap;
    }
    h3 {
      flex-grow: 1;
      color: white;
      background-color: black;
      justify-content: center;
    }
    div {
      flex-grow: 1;
      background-color: black;
      width: 100%;
      input {
        border-bottom: 1px solid white;
        background-color: black;
        border-radius: 5px;
<<<<<<< HEAD:src/style/footer.scss
        margin-bottom: 0.3rem;
        width: fit-content;
=======
>>>>>>> ed45aa54f22fb44fb8e34193996e02d40b59023c:style/footer.scss
        min-width: 100px;
        width: 100%;
        &:focus {
          background-color: lightgray;
        }
      }
    }
  }
}
