.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.side {
  width: 10vw;
}

.project-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 70vw;
  justify-items: center;
  align-items: center;
  background-color: white;

  .project-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2rem;
  }
  
  .project-img-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
}

