.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.project-img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
