// reset
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

ul,
li {
  list-style: none;
}

.container {
  min-height: "70vh";
}

div.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .content {
    padding: 20px;
  }
  .thumbnail {
    padding: 10px;
    img {
      width: auto;
    }
  }
}

section {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

div.content-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 70vw;
  .main-content {
    display: flex;
    flex: 3;
    justify-content: left;
    flex-wrap: wrap;
    padding: 20px;
  }
  .thumbnail {
    flex: 2;
    padding: 10px;
    justify-content: center;
  }
}

section.events-section {
  height: fit-content;
  margin-bottom: 10vh;
  div.event-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-radius: 10px;
    .event-card {
      padding-right: 20px;
      height: auto;
    }
    .card {
      border-radius: 30px;
      .card-body,
      .card-title,
      .card-text {
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}
