// reset
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

ul,
li {
  list-style: none;
}

// nav-bar
.nav-bar {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    a {
      justify-content: center;
      align-items: center;
      #hamburgerIcon {
        margin-bottom: 0;
        display: inline-block;
        width: 30px;
        justify-content: center;
        align-items: center;
        ::after {
          &:hover {
            color: bisque;
          }
        }
      }
    }
  }
  div.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .content {
      padding: 20px;
    }
    .thumbnail {
      padding: 10px;
      img {
        width: auto;
      }
    }
  }
}

section {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    padding: 20px;
  }
  .thumbnail {
    padding: 10px;
    justify-content: center;
  }
}

section.projects-section {
  height: fit-content;
  margin-bottom: 10vh;
  div.project-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-radius: 10px;
    .project-card {
      padding-right: 20px;
      height: auto;
    }
    .card {
      border: 10px, solid, aqua;
      border-radius: 20px;
      .card-body,
      .card-title,
      .card-text {
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

.footer {
  background-color: black;
  overflow-x: hidden;
}
.footer-div {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: 15%;
  .icons {
    background-color: black;
    width: max-content;
    flex: 2;
    ul {
      display: flex;
      flex-direction: column;
      background-color: black;
      width: fit-content;
      li {
        display: flex;
        align-items: center;
        background-color: black;
        .contact-info {
          display: flex;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          background-color: black;
          align-items: center;
          img {
            width: 25px;
            height: 25px;
          }
          p {
            padding-left: 5vh;
            margin-bottom: 0;
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
  .sending {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: black;
    color: white;
    h1 {
      color: white;
      background-color: black;
      justify-content: center;
    }
    div {
      background-color: black;
      padding-bottom: 2px;
      label {
        background-color: black;
      }
      input {
        border-bottom: 1px;
        border-color: white;
        width: 100%;
        border-radius: 5px;
        min-width: 100px;
      }
    }
  }
}
